.container {
  background: blue;
  height: 500px;
}

@media screen and (max-width: 725px) {
  .container {
    background: yellow;
  }
}

.name {
  color: green;
}

@media screen and (min-width:350px) and (max-width: 600px)  {
  .name {
    color: red;
    margin-left: 30px;
  }
}

@media screen and (min-width:350px) and (max-width: 600px) {
    .name2{
        color: purple;
        margin-left: 80px;
    }
}

@media screen and (min-width:600px) and (max-width: 725px) {
    .foot{
        font-size: 30px;
        color: purple;
        text-align: center;
    }
}



